@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    color: #fff;
}

body {    
    background-image: url(img/fondo.jpg);
    background-color: #333;
    background-size: cover;
}

.container {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.card {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3333334f;
    box-shadow: 0px 0px 30px 3px #000000;
    backdrop-filter: blur(10px);
    padding: 20px 0 30px 0;
    margin-top: 30px;
    border-radius: 20px;
    box-sizing: border-box;
}

.perfil {
    width: 120px;
    border-radius: 50%;
    margin-top: 20px;
}

.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 15px 0 20px 0;
}

.profession {
    font-size: 12px;
    margin: 10px 0;
}

.name {
    font-size: 24px;
}

.city {
    font-size: 13px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-top: 5px;
}

.card-links {
    display: flex;
    flex-direction: column;
}

.boton {
    background-color: rgb(34, 47, 221);
    color: rgb(255, 255, 255);
    width: 300px;
    padding: 13px 0px;
    border-radius: 15px;
    margin: 8px 0;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
}

footer {
    margin-top: 30px;
}

.copy {
    text-align: center;
    font-size: 12px;
    font-weight: 100;
}

.boton:hover {
    background-color: rgb(255, 255, 255);
    color: #000000;
    transition: 0.5s;
}

@media (max-width: 400px) {
    body {
        background-repeat: no-repeat;
        background-size: auto;
    }
    .card {
        width: 300px;
    }
    .boton {
        width: 250px;
    }
}
